html, body, div, span, applet, object, iframe,
h1, , h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
    color: #000;
}

img{
    width: 100%;
    display: block
}

a ,p, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #202020;
}

div{
    box-sizing: border-box
}

/*CONTENT GOES HERE*/

/*header*/

body{
    margin: 0;
    padding: 43px 0;    
}

.mainContainer{
    max-width: 1354px;
    margin: 0 auto;
    background: url("../images/background.jpg") no-repeat top center;
}

header nav{
    padding: 44px 54px;
}

header ul {
    display: flex;
}
@media only screen and (max-width: 600px) {
   header ul {
       flex-wrap: wrap;
   }
}
@media only screen and (max-width: 600px) {
    .header__RightNav {
        flex-wrap: wrap;
    }
 }

header li{
    font-size: 25px;
}

.brandname{
    flex: 1;
}

.header__RightNav{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.header__RightNav a{
    color: #2658F9;
}
@media only screen and (max-width: 600px) {
    header__RightNav {
        flex-wrap: wrap;
    }
 }

 
 /*Main*/

main{
    margin: 120px 0 0 0;
}

main .inner{
     padding: 0 54px;
}

#presentation{
    position: relative;
}
#presentation .scrollDown{
    display: block;
    position: absolute;
    right: -80px;
    bottom: 50px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
    -webkit-animation: scrollDown 2s infinite ease-in-out; /* Safari 4.0 - 8.0 */
    animation: scrollDown 2s infinite ease-in-out;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes scrollDown {
    0% {bottom: 50px;}
    50% {bottom: 60px;}
    100% {bottom: 50px;}
}

@keyframes scrollDown {
    0% {bottom: 50px;}
    50% {bottom: 60px;}
    100% {bottom: 50px;}
}

@media only screen and (max-width: 1382px) {
    #presentation .scrollDown {
        right: 0px;
    }
 }
#presentation .scrollDown img,p{
    display: inline-block;
    vertical-align: middle;
}
#presentation .scrollDown img{
    max-width: 30px;
    margin-right: 15px
}
#presentation .scrollDown p{
    font-size: 25px;
}

.sloganContainer{
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.sloganContainer__title{
    font-size: 25px;
    text-transform: uppercase;
    color: #2658F9;
    font-weight: 900;
}

.sloganContainer h1{
    text-transform: uppercase;
    font-size: 60px;
    margin: 33px 0 0 0;
    font-weight: 900;
    color: #2658F9;
}

.sloganContainer__desc{
    margin: 95px 0 0 0;
    font-size: 30px;
}

.pills{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

 /*Concept*/

 #concept{
     margin: 200px 0 0 0;
     position: relative;
 }
 #concept::before{
    display: block;
    content: "";
    position: absolute;
    height: 374px;
    width: 158px;
    background: url(../images/concept1.png)no-repeat center center;
    top: 0;
    left: 0;
 }
 #concept::after{
    display: block;
    content: "";
    position: absolute;
    height: 1192px;
    width: 389px;
    background: url(../images/concept2.png)no-repeat center center;
    top: 400px;
    right: 0px;
    z-index: -1;
 }

h2{
     font-size: 64px;
     text-align: center;
     color: #2658F9;
 }

 .concept__humanBody{
     margin: 100px 0 0 0;
     display: inline-block;
     width: 40%;
     vertical-align: top;
 }
 
 .concept__desc{
     margin: 100px  0 0 0;
     display: inline-block;
     width: 60%;
     vertical-align: top;
     padding: 130px 0 0 80px;
     font-size: 30px;
     line-height: 40px
 }

 .concept__mockup{
     position: absolute;
     right: 20px;
     top: 600px;
 }

 .concept__desc2{
     margin: 320px 0 0 0;
     max-width: 570px;
     font-size: 30px;
     line-height: 40px;
 }

  /*Concept*/

#atout{
    margin: 260px 0 0 0;
}  

.atout__exempleContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.atout__exemple{
    max-width: 360px;
    margin: 80px 0 0 0;
}

.atout__exemple img{
    max-width: 188px;
    margin: 0 auto;
}

.atout__exemple h3{
    text-align: center;
    font-size: 40px;
    color: #2658F9;
    margin: 0;
}

.atout__exemple p{
    text-align: center;
    font-size: 25px;

}